@import url(https://fonts.google.com/specimen/Outfit);
* {
    margin: 0;
    padding: 0;
}
.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
:root {
    --card-primary-color: hsl(0, 0%, 100%);
    --text-primary-color: black;
    --background-color: hsl(212, 45%, 89%);
    --subtext-color: hsl(216, 15%, 65%);
}
body {
    height: 100vh;
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    font-family: 'Outfit', sans-serif;
}
.container {
    background-color: var(--card-primary-color);
    justify-self: center;
    height: 375px;
    width: 270px;
    border-radius: 10px;
}
.card {
    text-align: center;
    font-size: 13px;
}
.qr-code-img {
    height: 220px;
    border-radius: 20px;
    justify-self: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.subtext {
    color: var(--subtext-color);
    font-size: 12px;
    margin-top: auto;
}
.attribution {
    position: relative;
    top: 275px;
}
.text {
    width: 230px;
    justify-self: center;
    margin-top: 0.5rem;
}
